body{
    background-color: black;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 100px 0px;
    padding: 5px;
    border-radius: 20px;
}
a:hover{
    color: black;
    background-color: wheat;

}
.video-wrapper {
    display: flex;
    justify-content: center;   /* по горизонтали */
    align-items: center;       /* по вертикали */
    min-height: 100vh;         /* высота экрана */
  }
  
  .video-wrapper video {
    width: 90%;
    max-width: 800px;
    height: auto;
    border-radius: 12px;
  }